.footer {
    font-family: "Avenir Next";
    text-align: center;
    position: flex;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75px;
    background: #0E8388;
    display: center;
    justify-content: center;
}