.name {
    font-family: "Avenir Next";
    text-align: center;
}

.info-text {
    padding: 1rem 1rem;
    text-align: left;    
    font-family: "Avenir Next";
}

.parent-about {
    display: grid;
    font-family: "Avenir Next";
    grid-template-columns: 50% 50%;
}

.parent-contact {
    align-items: center;
    font-family: "Avenir Next";
    text-align: center;
}

.child-contact {
    padding: 1rem 1rem;
    display: center;
    text-align: center;
}

.links-contact {
    display: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container {
    display: flex;
    margin: auto;
}