.parent {
    display: grid;
    text-align: center;
    border: 1px solid purple;
}

.child {
    padding: 1rem 1rem;
    display: center;
    text-align: center;
    border: 1px solid green;
}

.links {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}